<h1>Jobs</h1>

<div class="search_bar">
  <form action="">
    <input type="text" class="form-control my-2 p-4" placeholder="Search">
  </form>
</div>

<div *ngFor="let job of jobs">
  <div class="card mb-2">
    <div class="card-body text-center">
      <div class="row">
        <div class="col">
          <h2 class="card-title text-left">{{ job.title }}</h2>
          <h5 class="card-title">{{ job.company }}</h5>
          <p class="card-text">{{ job.description  }}</p>
        </div>
        
        <div class="col text-right">
          <a href="#" class="btn btn-primary">Apply</a>
        </div>
        
      </div>
    </div>
    <div class="card-footer text-muted">
      {{ job.created_at }}
    </div>
  </div>
</div>
<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
