<div class="profile-header" class="border bg-white mb-2 p-4">
    <div class="profile-pic"></div>
    <div class="profile-info">
      <div id="profile-name" class="p">Vinson Aiono</div>
      <div class="p">Location: Fremont California</div>
      <div class="p">Job TItle: Software Development Engineer</div>
    </div>
    <div class="my-applications mt-4">
      <h4>Software Engineer</h4>
      <h6 class="text-muted">Java, Javascript, Python</h6>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header bg-dark text-white mid-sub-content">
        <h4>Applications in Progress</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">View job applications you are activiley interviewing for</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header bg-dark text-white mid-sub-content">
        <h4>My Job Applications</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Review the history of all job applications</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header bg-dark text-white mid-sub-content">
        <h4>Application Statistics</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Track the progress of each application</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>