<div class="pt-4">
  <div class="row">
    <div class="col-4">
      <p id="section-title" class="mb-0">Profile Settings</p>
      <p class="text-muted">Change your profile information</p>
    </div>
    <div class="col-8">
      <div class="card bg-white border">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="fullNameHelp">Full Name</label>
              <input type="text" class="form-control" id="fullNameHelp" aria-describedby="firstNameHelp"
                placeholder="Vinson">
            </div>

            <div class="form-group">
              <label for="lastNameInput">Email</label>
              <input type="text" class="form-control" id="emailHelp" aria-describedby="emailHelp" placeholder="vinson.aiono@gmail.com">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <p id="section-title" class="mb-0">Password</p>
      <p class="text-muted">Change your password</p>
    </div>
    <div class="col-8">
      <div class="card bg-white border">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="fullNameHelp">Current Password</label>
              <input type="text" class="form-control" id="fullNameHelp" aria-describedby="firstNameHelp">
            </div>
            <div class="form-group">
              <label for="fullNameHelp">New Password</label>
              <input type="text" class="form-control" id="fullNameHelp" aria-describedby="firstNameHelp">
            </div>
            <div class="form-group">
              <label for="fullNameHelp">Confirm New Password</label>
              <input type="text" class="form-control" id="fullNameHelp" aria-describedby="firstNameHelp">
            </div>
          </form>
        </div>
      </div>
      <input type="submit" class=" my-3 fbtn btn-outline-dark text-right">
    </div>
  </div>

</div>
